{% extends 'base.html' %}
{% block title %} Crear horarios {% endblock%}

{% block content %}
      <section class="container-sm text-center up">
        <h1 class="displey-3 ttitle">Creacion de horarios</h1>
        <h3 class="lead">Aqui podras crear, agregar, modificar, consultar y eliminar 
            <br> la informacion de los horarios.
        </h3>
      </section>
      <!-- agregar horario -->
      <div class="card cas">
        <div class="card-header">
            Agregar Horario
        </div>
        <div class="card-body">
            <form action="" method="post" class="asigna">
                <div class="mb-3 a-mb">
                    <label for="instructor" class="form-label">Instructor</label>
                    <select class="form-select" id="instructor" name="instructor" required>
                      <option value="0">Elige un instructor</option>
                      {% for pro in profed %}
                        <option value="{{ pro[0]}}">{{ pro[1]}}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="mb-3 a-mb">
                    <label for="centro" class="form-label">Centro</label>
                    <select class="form-select" id="centro" name="centro" onchange="filtraProgramas(this.value)">
                        <option value="0">Elige un centro</option>
                        {% for cen in centros %}
                          <option value="{{ cen[0]}}">{{ cen[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3 a-mb">
                  <label for="programa" class="form-label">Programa</label>
                  <select class="form-select" id="programa" name="programa" onchange="filtraFichas(this.value)" required>
                    
                  </select>
              </div>
                <div class="mb-3 a-mb">
                    <label for="fichas" class="form-label">Fichas</label>
                    <select class="form-select" id="fichas" name="fichas" required>
                      
                    </select>
                </div>
                <div class="mb-3 a-mb">
                    <label for="salon" class="form-label">Salón</label>
                    <select class="form-select" id="salona" name="salon" required>
                       
                    </select>
                </div>
                <div class="mb-3 a-mb">
                  <label for="Start" class="form-label">Fecha inical</label>
                  <input type="date" class="form-control" id="Start" name="Start" required>
                </div>
                <div class="mb-3 a-mb">
                  <label for="End" class="form-label">Fecha final</label>
                  <input type="date" class="form-control" id="End" name="End" required>
                </div>
                <div class="mb-3 a-mb">
                    <label for="hora_ini" class="form-label">Hora de Entrada</label>
                    <input type="time" class="form-control" id="hora_ini" name="hora_ini" required>
                </div>
                <div class="mb-3 a-mb">
                    <label for="hora_fin" class="form-label">Hora de Salida</label>
                    <input type="time" class="form-control" id="hora_fin" name="hora_fin" required>
                </div>
                <div class="conlor">
                  <label for="colorH" class="form-label">Elige color</label>
                  <input type="color" class="form-control form-control-color" id="colorH" name="colorH" value="#39A900" title="color">
                </div>
                <div class="card-body">
                  <label for="datoss" class="form-label">Datos o descripcion</label>
                  <textarea class="form-control" id="datoss" name="datoss" rows="3"></textarea>
                </div>
                <div class="conte">
                  <button type="submit" class="btn btn-success">Agregar Horario</button>
                </div>
            </form>
        </div>
    </div>
    <!-- calendario -->
    <section class="cont-cal-asig">
      <div class="calen" id="calendar"></div>
    </section>
    <br>
    <!-- dirigirse por la plataforma -->
    <div class="Crear">
      <div class="Crear-header">
          Mesa de trabajo
      </div>
      <div class="Crear-body">
          <div class="Crear-body-cont">
              <p class="Crear-body-cont-title">Centros</p>
              <a href="{{ url_for('admin.todo_centro') }}" class="btn btn-success">Ir centros</a>
          </div>
          <div class="Crear-body-cont">
              <p class="Crear-body-cont-title">Programas</p>
              <a href="{{ url_for('admin.todo_programas') }}" class="btn btn-success">Ir programas</a>
          </div>
          <div class="Crear-body-cont">
              <p class="Crear-body-cont-title">Instructores</p>
              <a href="{{ url_for('admin.instructor') }}" class="btn btn-success">Ir instructores</a>
          </div>
          <div class="Crear-body-cont">
              <p class="Crear-body-cont-title">Home</p>
              <a href="{{ url_for('admin.home') }}" class="btn btn-success">Ir al inicio</a>
          </div>
      </div>
  </div>
      <script>
        document.addEventListener('DOMContentLoaded', function(){
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
              /* configuracion global de vista*/
              initialView: 'timeGridFourDay',
              locale: "es",
              slotMinTime: '06:00:00',  // Hora inicio
              slotMaxTime: '12:00:00',  // Hora final
              allDaySlot: false,
              hiddenDays: [0],
              nowIndicator: true,
              aspectRatio: 3,  // su proporcion debe se la mitad de las horas, osea 6h 3 unidades
              headerToolbar: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'dayGridMonth,timeGridWeek,timeGridDay' 
              },
                /* configuracion vistas por mes semana y dia*/
              views: {
                  timeGridFourDay: {
                    type: 'timeGrid',
                    duration: { days: 7 },
                  },
                  dayGridMonth: {
                    hiddenDays: [],
                  }
              },
              
            });
            calendar.render();
        });
      </script>
      <script src="{{ url_for('static', filename='js/select.js') }}"></script>
{% endblock %}