{% extends 'base.html' %}
{% block title %} Consultar horarios {% endblock%}

{% block content %}
      <div class="Contentcan">
        <div class="calen" id="calendar"></div>
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', function(){
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
              /* configuracion global de vista*/
              initialView: 'timeGridFourDay',
              locale: "es",
              slotMinTime: '06:00:00',  // Hora inicio
              slotMaxTime: '23:00:00',  // Hora final
              allDaySlot: false,
              hiddenDays: [0],
              nowIndicator: true,
              headerToolbar: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'dayGridMonth,timeGridWeek,timeGridDay' // user can switch between the two
              },
                /* configuracion vistas por mes semana y dia*/
              views: {
                  timeGridFourDay: {
                    type: 'timeGrid',
                    duration: { days: 7 },
                  },
                  dayGridMonth: {
                    hiddenDays: [],
                  }
              },
              
            });
            calendar.render();
        });
      </script>
{% endblock %}