{% extends 'base.html' %}
{% block title %}| Crear {% endblock %}

{% block content %}
    <section class="container mt-5">
        <div class="row justify-content-center">
            <div class="dol-sm-8">
                <!-- centro -->
                {% if dato1 == 'centro' %}
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">{{ accion }} {{ dato1 }}</h2>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                <div class="form-group">
                                    <label for="namecenter">Nombre del centro</label>
                                    <input class="form-control" type="text" name="namecenter" id="namecenter" required>
                                </div>
                                <div class="form-group">
                                    <label for="tel_center">Telefono del centro</label>
                                    <input class="form-control" type="number" name="tel_center" id="tel_center" required>
                                </div>
                                <div class="form-group">
                                    <label for="des_center">Descripcion</label>
                                    <input class="form-control" type="text" name="des_center" id="des_center" required>
                                </div>
                                <br>
                                <div class="text-center">
                                    <input class="btn btn-success" type="submit" value="Crear centro">
                                </div>
                            </form>
                        </div>
                    </div>
                {% elif dato1 == 'instructor' %}
                    <!-- instructor -->
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">{{ accion }} {{ dato1 }}</h2>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                <div class="form-group">
                                    <label for="name_ins">Nombre </label>
                                    <input class="form-control" type="text" name="name_ins" id="name_ins" required>
                                </div>
                                <div class="form-group">
                                    <label for="apellidos_ins">Apellidos</label>
                                    <input class="form-control" type="text" name="apellidos_ins" id="apellidos_ins" required>
                                </div>
                                <div class="form-group">
                                    <label for="identificacion">Numero identificacion</label>
                                    <input class="form-control" type="number" name="identificacion" id="identificacion" required>
                                </div>
                                <div class="form-group">
                                    <label for="correo_inst">Correo electronico</label>
                                    <input class="form-control" type="email" name="correo_inst" id="correo_inst" required>
                                </div>
                                <div class="form-group">
                                    <label for="tel_ins">Telefono</label>
                                    <input class="form-control" type="number" name="tel_ins" id="tel_ins" required>
                                </div>
                                <div class="form-group">
                                    <label for="contrato">Tipo de contrato</label>
                                    <input class="form-control" type="text" name="contrato" id="contrato" required>
                                </div>
                                <div class="form-group">
                                    <label for="horasT">Horas semanales</label>
                                    <input class="form-control" type="number" name="horasT" id="horasT" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input class="form-control" type="password" name="password" id="password" required>
                                </div>
                                <br>
                                <div class="text-center">
                                    <input class="btn btn-success" type="submit" value="Crear instructor">
                                </div>
                            </form>
                        </div>
                    </div>
                {% elif dato1 == 'salon' %}
                    <!-- salon -->
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">{{ accion }} {{ dato1 }}</h2>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                <div class="form-group">
                                    <label for="centro">Centro </label>
                                    <input class="form-control" type="text" name="centro" id="centro" required>
                                </div>
                                <div class="form-group">
                                    <label for="salon">Numero salon</label>
                                    <input class="form-control" type="number" name="salon" id="salon" required>
                                </div>
                                <div class="form-group">
                                    <label for="Otro">Otro</label>
                                    <input class="form-control" type="text" name="Otro" id="Otro" required>
                                </div>
                                <br>
                                <div class="text-center">
                                    <input class="btn btn-success" type="submit" value="Crear ficha">
                                </div>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <!-- ficha -->
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">{{ accion }} {{ dato1 }}</h2>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                <div class="form-group">
                                    <label for="numficha">Numero de ficha</label>
                                    <input class="form-control" type="number" name="numficha" id="numficha" required>
                                </div>
                                <div class="form-group">
                                    <label for="programa">Programa</label>
                                    <input class="form-control" type="text" name="programa" id="programa" required>
                                </div>
                                <div class="form-group">
                                    <label for="profe_ficha">Instructor</label>
                                    <input class="form-control" type="text" name="profe_ficha" id="profe_ficha" required>
                                </div>
                                <div class="form-group">
                                    <label for="des_ficha">Descripcion</label>
                                    <input class="form-control" type="text" name="des_ficha" id="des_ficha" required>
                                </div>
                                <br>
                                <div class="text-center">
                                    <input class="btn btn-success" type="submit" value="Crear ficha">
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif%}
            </div>
        </div>
</section>
{% endblock %}