{% extends 'base.html' %}
{% block title %}| Editar {% endblock %}

{% block content %}
    <section class="container mt-5">
        <div class="row justify-content-center">
            <div class="dol-sm-8">
                <!-- centro -->
                {% if obj == 1 %}
                    <div class="card justo">
                        <div class="card-header">
                            <h2 class="text-center">Editar centro</h2>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                <div class="form-group">
                                    <label for="namecenter">Nombre del centro</label>
                                    <input class="form-control" type="text" name="namecenter" id="namecenter" required value="{{ datos[1] }}">
                                </div>
                                <div class="form-group">
                                    <label for="tel_center">Telefono del centro</label>
                                    <input class="form-control" type="number" name="tel_center" id="tel_center" required value="{{ datos[2] }}">
                                </div>
                                <div class="form-group">
                                    <label for="des_center">Descripcion</label>
                                    <input class="form-control" type="text" name="des_center" id="des_center"  value="{{ datos[3] }}">
                                </div>
                                <br>
                                <div class="text-center">
                                    <input class="btn btn-success sena" type="submit" value="Guardar cambios">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="cont">
                        <div class="Crear-body">
                            <div class="Crear-body-cont">
                                <p class="Crear-body-cont-title">Ir a centros</p>
                                <a href="{{ url_for('admin.todo_centro') }}"><button type="button" class="btn btn-success sena">Volver atras</button></a>
                            </div>
                            <div class="Crear-body-cont">
                                <p class="Crear-body-cont-title">Ir al home</p>
                                <a href="{{ url_for('admin.home') }}"><button type="button" class="btn btn-success sena">Ir home</button></a>
                            </div>
                        </div>
                    </div>
                {% elif obj == 2 %}
                    <!-- instructor -->
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">{{ accion }} {{ dato1 }}</h2>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                <div class="form-group">
                                    <label for="name_ins">Nombre </label>
                                    <input class="form-control" type="text" name="name_ins" id="name_ins">
                                </div>
                                <div class="form-group">
                                    <label for="apellidos_ins">Apellidos</label>
                                    <input class="form-control" type="text" name="apellidos_ins" id="apellidos_ins" >
                                </div>
                                <div class="form-group">
                                    <label for="identificacion">Numero identificacion</label>
                                    <input class="form-control" type="number" name="identificacion" id="identificacion" >
                                </div>
                                <div class="form-group">
                                    <label for="tel_ins">Telefono</label>
                                    <input class="form-control" type="number" name="tel_ins" id="tel_ins" >
                                </div>
                                <div class="form-group">
                                    <label for="contrato">Tipo de contrato</label>
                                    <input class="form-control" type="text" name="contrato" id="contrato">
                                </div>
                                <div class="form-group">
                                    <label for="horasT">Horas semanales</label>
                                    <input class="form-control" type="number" name="horasT" id="horasT">
                                </div>
                                <br>
                                <div class="text-center">
                                    <input class="btn btn-success" type="submit" value="Crear instructor">
                                </div>
                            </form>
                        </div>
                    </div>
                {% elif obj == 3 %}
                    <!-- salon -->
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">{{ accion }} {{ dato1 }}</h2>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                <div class="form-group">
                                    <label for="centro">Centro </label>
                                    <input class="form-control" type="text" name="centro" id="centro" >
                                </div>
                                <div class="form-group">
                                    <label for="salon">Numero salon</label>
                                    <input class="form-control" type="number" name="salon" id="salon">
                                </div>
                                <div class="form-group">
                                    <label for="Disponibilidad">Disponibilidad</label>
                                    <input class="form-control" type="password" name="Disponibilidad" id="Disponibilidad">
                                </div>
                                <br>
                                <div class="text-center">
                                    <input class="btn btn-success" type="submit" value="Crear ficha">
                                </div>
                            </form>
                        </div>
                    </div>
                {% elif obj == 4 %}
                    <!-- ficha -->
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">{{ accion }} {{ dato1 }}</h2>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                <div class="form-group">
                                    <label for="numficha">Numero de ficha</label>
                                    <input class="form-control" type="text" name="numficha" id="numficha" >
                                </div>
                                <div class="form-group">
                                    <label for="programa">Programa</label>
                                    <input class="form-control" type="text" name="programa" id="programa" >
                                </div>
                                <div class="form-group">
                                    <label for="profe_ficha">Instructor</label>
                                    <input class="form-control" type="text" name="profe_ficha" id="profe_ficha" >
                                </div>
                                <div class="form-group">
                                    <label for="des_ficha">Descripcion</label>
                                    <input class="form-control" type="password" name="des_ficha" id="des_ficha" >
                                </div>
                                <br>
                                <div class="text-center">
                                    <input class="btn btn-success" type="submit" value="Crear ficha">
                                </div>
                            </form>
                        </div>
                    </div>
                {% elif obj == 5 %}
                    <!-- programas -->
                    <div class="card">
                        <!-- crear -->
                        <div class="card justo">
                            <div class="card-header">
                                <h2 class="text-center">Editar programa</h2>
                            </div>
                            <div class="card-body">
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label for="nomProgram">Nombre del programa</label>
                                        <input class="form-control" type="text" name="nomProgram" id="nomProgram" required value="{{ datosp[1] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="programDes">Grado de titulacion</label>
                                        <input class="form-control" type="text" name="programDes" id="programDes" required value="{{ datosp[2] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="programCentro">Centro</label>
                                        <select class="form-select" id="programCentro" name="programCentro" required >
                                            <option value="">{{ cenpro[0] }}</option>
                                            {% for c in cen %}
                                                <option value="{{ c[0]}}">{{ c[1] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <br>
                                    <div class="text-center">
                                        <input class="btn btn-success" type="submit" value="Editar programa">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="cont">
                            <div class="Crear-body">
                                <div class="Crear-body-cont">
                                    <p class="Crear-body-cont-title">Ir a programas</p>
                                    <a href="{{ url_for('admin.todo_programas') }}"><button type="button" class="btn btn-success sena">Volver atras</button></a>
                                </div>
                                <div class="Crear-body-cont">
                                    <p class="Crear-body-cont-title">Ir a centros</p>
                                    <a href="{{ url_for('admin.todo_centro') }}"><button type="button" class="btn btn-success sena">Volver atras</button></a>
                                </div>
                                <div class="Crear-body-cont">
                                    <p class="Crear-body-cont-title">Ir al home</p>
                                    <a href="{{ url_for('admin.home') }}"><button type="button" class="btn btn-success sena">Ir home</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h1>No se encuentra el lugar de editar que busca</h1>
                {% endif%}
            </div>
        </div>
</section>
{% endblock %}