{% extends 'base.html' %}
{% block title %}| Fichas de formacion {% endblock %}

{% block content %}
<section class="container justo">
    <div class="container mt-3 center">
        <h3 class="ttitle">Centros de formacion del sena</h3>
        <h6 class="h6">Aqui podras crear, consultar, editar y eliminar centros de formacion.</h6>
    </div>
        <!-- crear -->
        <div class="card justo">
            <div class="card-header">
                <h2 class="text-center">Crear fichas</h2>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="numficha">Numero de ficha</label>
                        <input class="form-control" type="number" name="numficha" id="numficha" required>
                    </div>
                    <div class="form-group">
                        <label for="fichapro">Programa</label>
                        <select class="form-select" id="fichapro" name="fichapro" required>
                            <option value="0">Elige un programa</option>
                            {% for p in prog %}
                                <option value="{{ p[0]}}">{{ p[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fichainst">Instructor</label>
                        <select class="form-select" id="fichainst" name="fichainst" required>
                            <option value="0">Elige un instructor</option>
                            {% for i in ins %}
                                <option value="{{ i[0]}}">{{ i[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="des_ficha">Descripcion</label>
                        <input class="form-control" type="text" name="des_ficha" id="des_ficha" required>
                    </div>
                    <br>
                    <div class="text-center">
                        <input class="btn btn-success" type="submit" value="Crear ficha">
                    </div>
                </form>
            </div>
        </div>
        <!-- listar -->
        <div class="card mb-4">
            <div class="card-header">
                Fichas recientes
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Num</th>
                            <th>Ficha</th>
                            <th>Programa</th>
                            <th>Instructor</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- datos de centros -->
                        {% for li in list %}
                            <tr>
                                <td>{{ li[0] }}</td>
                                <td id= "{{ li[0] }}" >{{ li[1] }}</td>
                                <td>{{ li[5] }}</td>
                                <td>{{ li[9] }}</td>
                                <td><a class="btn btn-primary" href="{{ url_for('admin.editar', id=li[0], obj=1) }}">Editar</a></td>
                                <td><button class="btn btn-danger" onclick=" popup('{{ li[0] }}', 'popup', 'text', 'form')">Eliminar</button></td>
                            </tr>    
                        {% endfor %}
                         
                    </tbody>
                </table>
            </div>
            <!-- popup -->
             <div class="pop capa"></div>
            <div id="popup" class="card mb-4 pop">
                <div class="card-header">
                    Eliminar centro
                </div>
                <div class="card-body center" id="form">
                    <h4 id="text" class="h4 tex">
                        Deseas eliminar el centro ....
                    </h4>
                        <form action="" method="post" class="orden" >
                            <a class="btn btn-danger dan" href="{{ url_for('admin.delete', id='3', dat='id_centro', tab='centro') }}" >Elimiar</a>
                            <input type="hidden" value="" id="idcen">
                            <a class="btn btn-secondary" onclick="cerrar('popup')">Cancelar</a>
                        </form>
                </div>
            </div>
        </div>
        <!-- opciones -->
        <div class="Crear">
            <div class="Crear-header">
                Mesa de centros
            </div>
            <div class="Crear-body">
                <div class="Crear-body-cont">
                    <p class="Crear-body-cont-title">Home</p>
                    <a href="{{ url_for('admin.home') }}" class="btn btn-success">Ir al incio</a>
                </div>
                <div class="Crear-body-cont">
                    <p class="Crear-body-cont-title">Centros</p>
                    <a href="{{ url_for('admin.todo_centro') }}" class="btn btn-success">Ir centros</a>
                </div>
                
                
            </div>
        </div>
</section>
{% endblock %}