{% extends 'base.html' %}
{% block title %} Login admin {% endblock%}

{% block content %}
<br>
    <section class="container-sm text-center up">
        <h1 class="displey-3 ttitle">Bienvenido {{ g.user }} {{ g.lastName }}</h1>
        <h3 class="lead">Aqui podras crear, agregar, modificar, consultar y eliminar 
            <br> la informacion de los horarios, centros, fichas y mas.
        </h3>
    </section>
    <section class="Content">
        <div class="sidebar">
            <div class="sidebar-cont">
                <h2 class="text-center">Mesa de trabajo</h2>
                <a href="#">Inicio</a>
                <a href="#">Centros</a>
                <a href="#">Horarios</a>
                <a href="#">Settings</a>
            </div>
        </div>
        <div class="content">
            <div class="dashboard-header">
                <h1>Administrador de Horarios</h1>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Instructores</h5>
                            {% for i in pro %}
                                <p class="card-text">{{ i }} </p>
                            {%  endfor%}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Horarios</h5>
                            {% for h in hora %}
                                <p class="card-text">{{ h }} </p>
                            {%  endfor%}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sedes</h5>
                            <p class="card-text">000</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Tareas</h5>
                            <p class="card-text">8,124</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- botones creacion -->
            <div class="Crear">
                <div class="Crear-header">
                    Mesa de trabajo
                </div>
                <div class="Crear-body">
                    <div class="Crear-body-cont">
                        <p class="Crear-body-cont-title">Centros</p>
                        <a href="{{ url_for('admin.todo_centro') }}"><button type="button" class="btn btn-success">Ir centros</button></a>
                    </div>
                    <div class="Crear-body-cont">
                        <p class="Crear-body-cont-title">Instructores</p>
                        <a href="{{ url_for('admin.instructor') }}"><button type="button" class="btn btn-success">Ir instructores</button></a>
                    </div>
                    <div class="Crear-body-cont">
                        <p class="Crear-body-cont-title">Fichas</p>
                        <a href="{{ url_for('admin.ficha') }}"><button type="button" class="btn btn-success">Ir fichas</button></a>
                    </div>
                    <div class="Crear-body-cont">
                        <p class="Crear-body-cont-title">Horarios</p>
                        <a href="{{ url_for('admin.consultar') }}"><button type="button" class="btn btn-success">Crear horario</button></a>
                    </div>
                    
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    Horarios mas recientes
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Instructor</th>
                                <th>Día</th>
                                <th>Fichas</th>
                                <th>Centro</th>
                                <th>Salon</th>
                                <th>Hora de Entrada</th>
                                <th>Hora de Salida</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Juan Pérez</td>
                                <td>Lunes</td>
                                <td>Centro De Servicios financieros</td>
                                <td>2558697, 2458798, 2365784</td>
                                <td>702</td>
                                <td>08:00</td>
                                <td>16:00</td>
                            </tr>
                            <tr>
                                <td>Maria López</td>
                                <td>Martes</td>
                                <td>Centro De Servicios financieros</td>
                                <td>3205489, 2458798, 2365784</td>
                                <td>704</td>
                                <td>09:00</td>
                                <td>17:00</td>
                            </tr>
                            <!-- Más filas de empleados -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}