
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.justo{
    width: 80% !important;
    margin: 10px auto 50px;
}
.pop{
    width: 30%;
    position: absolute !important;
    top: 130px;
    right: -35%;
}
.capa{
    width: 38%;
    display: block !important;
    height: 300px;
    background: white;
    z-index: 1;
    right: -38.3%;
}
.tex{
    text-align: center;
}

.orden{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.dan{
    margin-right: 20px;
}

.cont{
    width: 45%;
    margin: 10px auto;
}