/* EL HOME DEL ADMINISTRADOR */
*{
    text-decoration: none !important;
    font-family: "Work Sans", sans-serif;
}

.displey-3{
  color: #39A900 !important;
}
.bv{
  background: #39A900 !important;
  color: white !important;
}
.ttitle{
  color: #2e7d32 !important;
}
.up{
  margin: 30px 0;
}

.Index{
  width: 70%;
  margin: auto;
}
.cas{
  width: 70%;
  margin: 0 auto;
}
.cas-d{
  width: 60% !important;
  margin: 0 auto;
}
.Content{
  margin: 40px 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Estilos */

.container_index{
    background-color: rgb(241, 241, 241);
    margin-left: -22px;
    margin-right: -22px;
  }
  
  .title-container-welcome{
    text-align: left;
    padding: 5px;
    border-bottom: #39A900 2px solid;
  }
  .title-welcome{
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    color: #39A900;
  }
  
  .menu{
    background-color: #39A900;
    color: white;
    padding: 5px;
  }
  
  .content-init{
    margin: 10px;
    margin-top: 40px;
  }
  .content-init .col{
    display: flex;
    position: relative;
    margin: 20px;
    padding: 40px;
  }
  
  .content-init p{
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 10px;
    margin-top: 50px;
  }
  
  .content-init img{
    width: 500px;
    height: 340px;
    display: inline-block;
    
  }
  .info{
    text-align: center;
    color: #39A900;
    font-size: 35px;
    margin: 20px;
  }
  
  .title-container{
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  
  .title{
    color: #000000;
    margin: 20px;
    
  }
  
  .title-2{
    font-size: 40px;
    text-align: center;
  }

  /* footer */

  .container-footer{
    width: 100%;
    margin-top: 100px;
    background-color: #39A900;
    padding: 10px; 
    color: white;
    display: flex;
    align-items: flex-start;
  }


  /* contenedores de los canlendarios */

  .Contentcan{
    margin: 50px auto 30px;
    width: 80%;
    padding: 15px;
  }


  /* vista asignar */
.asigna{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin: 10px auto;
  align-items: center;
}
.a-mb{
  width: 42%;
  margin: 10px 25px;
}
.conlor{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  padding: 10px;
}
.conte{
  width: 80%;
  margin: 25px auto 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* calendario */
.cont-cal-asig{
  width: 80%;
  margin: 100px auto 40px;
}