{% extends 'base.html' %}

{% block content %}
    <div class="frame in">
        <div class="headR">
            <h4 class="regis-title">{% block title %} Registro {% endblock%}</h4>
        </div>
        <div ng-app ng-init="checked = false">
            <form class="form-signin" action="" method="post">
                <label class="lab" for="name">Nombre</label>
                <input class="form-styling" type="text" name="name" id="name" required minlength="4" maxlength="30">
                <label class="lab" for="apellido">Apellido</label>
                <input class="form-styling" type="text" name="apellido" id="apellido" required minlength="4" maxlength="30">
                <label class="lab" for="tipo_admin">Numero documento</label>
                <input class="form-styling" type="number" name="tipo_admin" id="tipo_admin" required minlength="4" maxlength="30">
                <label class="lab" for="Emailadmin">Correo electronico</label>
                <input class="form-styling" type="email" name="Emailadmin" id="Emailadmin" required minlength="4" maxlength="30">
                <label class="lab" for="password">Contraseña</label>
                <input class="form-styling" type="password" name="password" id="password" required minlength="4" maxlength="12">
                <div class="btn-animate">
                    <input class="btn-signin" type="submit" value="Iniciar sesión">
                </div>
            </form>
        </div>
        <div class="forgot lar">
            <a href="#">Forgot your password?</a>
        </div>
    </div>
    
{% endblock %}