{% extends 'base.html' %}

    {% block title %} REGISTRO {% endblock%}
    {% block content %}
    
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Registro</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    
                    <div class="form-group">
                        <label for="nombres">Nombres</label>
                        <input type="text" class="form-control" id="nombres" name="nombres" required>
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos" required>
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="number" class="form-control" id="telefono" name="telefono" required>
                    </div>
                    <div class="form-group">
                        <label for="tipo_documento">Tipo de documento</label>
                        <select class="form-control" id="tipo_documento" name="tipo_documento" required>
                            <option value="" disabled selected>Selecciona un tipo de documento</option>
                            <option value="cc">Cédula de ciudadanía</option>
                            <option value="ce">Cédula de Extrajera</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="numero_documento">Número de Documento</label>
                        <input type="number" class="form-control" id="numero_documento" name="numero_documento" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="correo">Correo electronico</label>
                        <input type="text" class="form-control" id="correo" name="correo" required>
                    </div>
                    <div class="form-group">
                        <label for="contraseña">Crea Contraseña</label>
                        <input type="password" class="form-control" id="contraseña" name="contraseña" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}

    

